{% extends 'basic.html' %}
{% block title %}
    form
{% endblock %}

{% block content %}
    {% if name %}
    <div class="alert alert-success alert-soft" >
        {% for message in get_flashed_messages() %}
            <span>{{ message }}</span>
        {% endfor %}
    </div>
    
        <h1>Hare Krsna, {{ name }}</h1>
    {% else %}
    <!-- form -->
        <h1 class="text-5xl mx-20">Enter Your Name</h1>
        
        <form method="post" class="mx-3 space-y-4 flex flex-col">
            {{ form.hidden_tag() }}
            <br>
            <div class="Name_feild">
                {{ form.name.label(class_ = "text-2xl") }}
                {{ form.name(class_ = "input input-primary h-8", placeholder="Enter Your Name") }}
            </div>
            <div class="Email_feild">
                {{ form.email.label(class_ = "text-2xl") }}
                {{ form.email() }}
            </div>
            <div class="submit_button">
                <!-- Submit Button -->
                {{ form.submit(class_ = "btn btn-primary text-2xl") }}
            </div>
        </form>
        {% if name %}
        <p>Hare Krsna, {{ name }}</p>
        {% endif %}
    {% endif %}
{% endblock %}