{% extends 'basic.html' %}
{% block title %}
    form
{% endblock %}

{% block content %}
    {% if name %}
        <h1>Hare Krsna, {{ name }}</h1>
    {% else %}
    <!-- form -->
        <h1 class="text-5xl mx-20">Enter Your Name</h1>
        
        <form method="post" class="mx-3">
            {{ form.hidden_tag() }}
            <br>
            {{ form.name.label(class_ = "text-2xl") }}
            {{ form.name(class_ = "input input-primary h-8") }}
            <!-- Error -->
            {% if form.name.errors %}
            <ul class="text-red-500 text-sm mt-1">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br><br>
            {{ form.submit(class_ = "btn btn-primary text-2xl") }}
        </form>

    {% endif %}
{% endblock %}