{% extends "basic.html" %}

{% block content %}

 <div class="alert alert-success alert-soft" >
        {% for message in get_flashed_messages() %}
            <span>{{ message }}</span>
        {% endfor %}
</div>


        <div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">Box Office News!</h1>
      <p class="py-6">
        <!-- Hare Krsna {{ name }} -->
        {{ msg|safe }}
        {{ msg|striptags | capitalize }}
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
<p class="demo"></p>
<div class="JinjaFunction">

  {% import 'macros.html' as macros %}
  <ul>
    {% for comment in comments %}
      {{ macros.render_comment(comment) }}
    {% endfor %}
  </ul>
</div>
<script src="{{ url_for('static', filename = 'js/homePage.js') }}"></script>
{% endblock %}
